
@model PatientAppointment.WebApp.Models.PatientViewModel

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card create-card justify-content-center">
            <div class="mt-4 m-3">
                <h2 class="card-title">@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <form asp-action="@ViewData["Action"]">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input asp-for="Id" type="hidden" />.

                    <div class="form-floating mb-3">
                        <input asp-for="FullName" class="form-control" placeholder="Full Name" />
                        <label asp-for="FullName"></label>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Address" class="form-control" placeholder="Address" />
                        <label asp-for="Address"></label>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <select asp-for="Gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <label asp-for="Gender"></label>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="BirthDate" type="text" class="form-control" placeholder="Birth Date" onfocus="this.type='date'" onblur="if(!this.value) {this.type='text';}" />
                        <label asp-for="BirthDate"></label>
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <select asp-for="Country" class="form-control" id="Country">
                            <option value="">-- Select Country --</option>
                            @foreach (var country in ViewBag.Countries)
                            {
                                <option value="@country.Value">@country.Text</option>
                            }
                        </select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Phone" class="form-control" placeholder="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3 mt-3">
                        <input type="submit" value="@ViewData["btn"]" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(document).ready(function () {
                $('#Country').select2();

            var input = document.querySelector("#Phone");
            var iti = window.intlTelInput(input, {
                initialCountry: "eg",
                nationalMode: false,
                separateDialCode: false
            });

            $("form").on("submit", function () {
                if (iti) {
                    var fullNumber = iti.getNumber();
                     console.log(fullNumber);
                    input.value = fullNumber;
                }
            });
            });
        </script>

    }
}